<div>

<body>

<div class="header">
  <a href="#default" class="logo">TO DO LIST</a>
  <div class="header-right">
        <a href="" routerLink="/create-task">Add new Task</a>
   
  </div>
</div>

<div style="padding-left:20px">

  <h3 style="text-align:center;">List of all tasks</h3>
  
  </div>


<div class="container custom-container-2">
  
  <div>
   	<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <input
        type="text"
        class="form-control"
        name="search"
        placeholder="Type to search..."
        [(ngModel)]="search"
      />
    </div>
  </div>
</form>

	
	
    <div class="col-md-12">
      <table  class="table table-bordered" id="tasks">
        <thead>
           <tr>
            <th scope="col">DELETE SELECTED</th> 
            <th scope="col" (click)="sort('id')">ID <span class="glyphicon sort-icon" *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> </th>
            <th scope="col" (click)="sort('name')">TASK NAME <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> </th>
            <th scope="col" (click)="sort('description')">DESCRIPTION <span class="glyphicon sort-icon" *ngIf="key =='description'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            <th scope="col"(click)="sort('created')" >CREATED <span class="glyphicon sort-icon" *ngIf="key =='created'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> </th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of Task  | orderBy: key : reverse  | paginate: { itemsPerPage: 5, currentPage: page }   |  arrayFilter:search; let i = index   ">
            <td  align="center" ><input #{{task.count}} [(ngModel)]="task.selected" type="checkbox"></td>
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.created}}</td>
            <td>
              <span class="edit" routerLink="/edit-task/{{task.id}}">EDIT</span>&nbsp;&nbsp;
              <span class="delete" (click)="deleteTask(task.id)">DELETE</span>
            </td>
          </tr>
          <br>
		     <button (click)="deleteTaskSelected()">DELETE SELECTED</button>
        </tbody>
      </table>
	  <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

  </div>

</div>

</body>

</div>











